name: CI build
on: 
  workflow_dispatch:
  push:
    branches: main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'temurin'
      - name: Build project with Maven
        run: mvn -B -ntp -Dstyle.color=always install
      - name: Deploy to OSSRH
        env:
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        run: mvn -B -ntp -Dstyle.color=always --settings .mvn/settings.xml -DskipTests=true -Dmaven.install.skip=true deploy
